.header{
  padding-top: 30px;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #2788cd;
}

.navbar{
  background: linear-gradient(#2788cd, #67b7f0);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%
}

.navbar ul a{
  color: white;
  text-decoration: none;
  padding: 16px;
}

.nav-right a:hover{
  color: #030a60;
}

*{
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}

.hero2{
  width: 100%;
  height: auto;
  background-color: white;
  /* background-image: url(background.png);
  background-size: cover;
  background-position: center; */
  position: relative;
  overflow: hidden;
}

.logo{
  cursor: pointer;
  margin-left: 8%;
  color: black;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  align-items: center;
}

.logo span{
  color: #67b7f0;
}

.navbar{
  background: linear-gradient(#2788cd, #67b7f0);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar ul{
  margin-right: 8%;
}

.navbar ul a{
  color: white;
  text-decoration: none;
  padding: 16px;
}

.nav-right a:hover{
  color: #030a60;
}

.container{
  /* padding: 10px; */
  margin: 20px;
}

.faq-header{
  padding-bottom: 15px;
}

.faq-content{
  padding-bottom: 10px;
}

.faq-cotnainer{
  padding: 20px;
      
}

*{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

footer{
  background-color: #67b7f0;
}

.footer-top{
  border-top: white 4px solid;
  padding: 10px;
  padding-top: 10px;
  padding-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
}

.footer-header{
  color: white;
  font-size: 25px;
}

.sub-header{
  font-weight: bold;
  width: 350px;
}

.sub-mid{
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.sub-content{
  padding-top: 10px;
  width: 300px;
}

.footer-bot{
  padding-top: 30px;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.icon{
  display: flex;
}

.icon-img{
  width: 40px;
}

.icon-content{
  color: white;
  margin-left: 10px;
  display: flex;
  text-align: center;
  align-items: center;
}

.icon-content-2{
  color: white;
  margin-left: 10px;
}

.text{
  color:  white;
}

.empty{
  height: 5vh;
  width: 100%;
}

.download{
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  left: 0;
}

.download-header{
  padding-top: 30px;
  text-align: left;
  color: white;
}

.store{
  display: flex;
}

.playstore{
  padding-top: 20px;
  width: 250px;
}

.appstore{
  padding-top: 20px;
  width: 300px;
}